@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Patrick+Hand|Patrick+Hand+SC');

body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 62.5%;
  width: 100%;
  color: black;
}

 h1 {
  margin: 33px 97px;
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  line-height: 30px;
 }

 h3 {
   display: none;
 }

.logo {
  height: 38px;
  margin: 0 12px;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(20deg)
}

.brandlink:link {
  text-decoration: none;
}

.checkbox {
  margin: 16px 12px 0 12px;
  transform: scale(2.0);
	padding: 30px;
  background: #fff;
  border: 2px solid black;
  box-shadow: none;
}

a.active {
  color: orange;
}

canvas.canvas {
  background: url(https://www.clipartsgram.com/image/2046812482-checkerrealcanon18mmdotsm.png);
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
position: absolute;
width: 36px;
height: 30px;
left: 36px;
top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #9068BE;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: black;
margin-top: 30px;
}

/* General sidebar styles */
.bm-menu {
background: #E1E8F0;
padding: 1.5em 1.5em 0;
font-size: 1.15em;
font-family: 'Patrick Hand SC', cursive;
display: flex;
flex-direction: column;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #373a47;
}

.bm-overlay {
  background-color: transparent !important;
}

/* Wrapper for item list */
.bm-item-list {
padding-top: 1.5em;
font-size: 2rem;
}

.bm-item-list img {
  width: 100%;
}



.side-item {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.side-item:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}
.toolbar{
  position: absolute;
  top: 4%;
  left: 25%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
}
.save {
  width: 35px;
  margin-right: 10px;
}

.tools {
  font-size: 3em;
  flex-shrink: 2;
}

.options {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0 0 20px 20px;
  top: 5%;
  left: 70%;
  font-size: 3.0em;
  flex-shrink: 2;
}

input[type='range'] {
  margin: 0 20px 0 20px;
  flex-shrink: 2;
}

img.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 2;
}

.fill {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 3.0em;
  flex-shrink: 2;
}

.fill span {
  margin-top: 3px;
}

.circle-picker {
  margin: 3% 0 3% 3%;
  flex-shrink: 2;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.0em;
  font-family: 'Patrick Hand SC', cursive;
  flex-shrink: 2;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* button.item-active{
  background-color: #9068BE;
} */

div.textinput {
  display: none;
}

.home-logo {
  width: 40%;  
}

.jumbotron{
position: absolute;
top: 0px;
left: 0;
right: 0;
bottom: 0;
display: flex;
flex-wrap: wrap;
align-items: center;
background-image: url('../icons/BACKGROUND.png');
height: 100%;
flex-shrink: 1;
justify-content: center;
padding-top: 75px;
}


.twoodle-name {
  float: left;
  padding: 10px;
  border: none;
  border-bottom: solid 8px black;
  transition: border 0.3s;
  width: 400px;
  background-color: #6ED3CF;
  margin: 170px 0 0 40px;
  font-size: 2.5em;
  font-family: 'Patrick Hand SC', cursive;
  outline: none;
  flex-shrink: 2;
}

button.twoodle-submit {
  font-size: 6.0em;
  margin: 150px 40px 0px 20px;
  flex-shrink: 2;
}

button.twoodle-submit:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.slogan {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 6.0em;
  flex-shrink: 2;
  align-self: flex-start;
  margin: 0;
}

span.purple {
  color: #9068BE;
}

.share-pop {
 font-family: 'PT Sans Narrow', sans-serif;
 width: 40%;
 height: 30%;
 background-color: #6ED3CF;
 box-shadow: 10px 11px 0px 0px rgba(230,39,57,1);
 position: absolute;
 top: 30%;
 left: 30%;
 padding: 20px;
 z-index: 9999;
}

.share-pop h2{
  font-size: 30px;
}

.social-share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.url-share {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.share-url {
  background-color: rgba(32, 31, 31, 0.32);
  border: none;
  outline:none;
  height:30px;
  width: 60%;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5em;
  padding: 10px 10px 10px 20px;
}

.error-container {
  width: 60%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}



.gif {
  flex-shrink: 2;
  flex-basis: auto;
  margin-top: 5%;
}

.error-msg {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 5.0em;
  flex-shrink: 2;
  font-weight: 700;
}

.four {
  font-size: 10rem;
}

.oh {
  color: #E62739;
  flex-shrink: 2;
}

.main-container {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.about {
  align-self: flex-end;
  flex-shrink: 3;
}



