body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 62.5%;
  color: black;
}

 h1 {
  margin: 33px 97px;
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  line-height: 30px;
 }
 


canvas.canvas {
  /* width: 100%;
  height: auto; */
  top: 0;
  bottom: 0;
}

div.canvas-div {
  width: 100%;
  height: auto
}

.brandlink:link {
  text-decoration: none;
}

.error-container {
  width: 60%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}


.gif {
  flex-shrink: 2;
  flex-basis: auto;
  margin-top: 5%;
}

.error-msg {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 5.0em;
  flex-shrink: 2;
  font-weight: 700;
}

.four {
  font-size: 8em;
}

.oh {
  color: #E62739;
  flex-shrink: 2;
}



.user-container {
  height: 40px;
  width: 100%;
  bottom: 4%;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  right: 2%;
  position: fixed;
}

.online-user {
 height: 100%;
 box-shadow: 8px 8px 3px #848586;
 border-radius: 8px;
 text-align: center;
 padding: 4px;
 font-family: 'Patrick Hand SC', cursive;
 font-size: 28px;
 margin: 0 4px
}

.online-user p {
 margin: 2px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  h1 {
  display: none;
  }

  .error-container {
    width: 100%;
    padding: 2%;
  }

  .four {
    font-size: 5em;
  }
  
  .oh {
    color: #E62739;
    flex-shrink: 2;
  }

  .error-msg {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
    flex-shrink: 2;
    font-weight: 700;
  }

  .gif {
    width: 80%;
  }
}

@media only screen and (min-device-width: 300px) 
and (max-device-width: 640px) 
and (orientation: landscape) {
  h1 {
    display: none;
  }

  div.canvas-div {
   width: 360px;
  }
}