body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 62.5%;
  color: black;
}

 h1 {
  margin: 33px 97px;
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  line-height: 30px;
 }
 @media only screen and (min-width : 320px) and (max-width : 480px) {
    h1 {
    display: none;
    }
  }

  @media only screen and (min-device-width: 480px) 
  and (max-device-width: 640px) 
  and (orientation: landscape) {
    h1 {
      display: none;
    }
  }

 h3 {
   display: none;
 }


canvas.canvas {
  width: 100%;
  height: auto;
}

div.canvas-div {
  width: 100%;
  height: auto
}

.brandlink:link {
  text-decoration: none;
}

.error-container {
  width: 60%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}


.gif {
  flex-shrink: 2;
  flex-basis: auto;
  margin-top: 5%;
}

.error-msg {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 5.0em;
  flex-shrink: 2;
  font-weight: 700;
}

.four {
  font-size: 10rem;
}

.oh {
  color: #E62739;
  flex-shrink: 2;
}

.main-container {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-container {
  height: 40px;
  width: 100%;
  bottom: 0;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  right: 2%;
  position: fixed;
}

.online-user {
 height: 100%;
 text-align: center;
 padding: 0 8px;
 font-family: 'PT Sans Narrow', sans-serif;
 font-size: 15px;
 margin: 0 2px
}