

.checkbox {
  margin: 16px 12px 0 12px;
  transform: scale(2.0);
	padding: 30px;
  background: #fff;
  border: 2px solid black;
  box-shadow: none;
}

.toolbar{
  position: absolute;
  top: 5%;
  right: 2%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  flex-shrink: 1;
  font-size: 2.0em;
  width: 100%;
  padding: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
}



.toolbar label {
  margin-top: 1%;
}

.circle-picker {
  margin-top: 1%;
}

 

.save {
  width: 25px;
  margin-right: 10px;
}

.tools {
  flex-shrink: 2;
}


input[type='range'] {
  margin: 0 10px 0 10px;
  flex-shrink: 3;
  width: 80px;
}



img.icon {
  width: 65%;
  flex-shrink: 3;
}

.fill {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-shrink: 2;
}


.fill span {
  margin-top: 3px;
}

.fill label {
  margin-top: 8%
}

.circle-pick {
  float: left;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.0em;
  font-family: 'Patrick Hand SC', cursive;
  flex-shrink: 2;
}

button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

img.save:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media(min-width: 640px) and (max-width: 1400px) {
  .toolbar {
    flex-flow: column nowrap;
    -webkit-flex-direction: column;
    width: 5%;
    top: 5%;
    right: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 104, 190, 0.7);
  }

  label.size {
    display: none;
  }

  .circle-picker {
    flex-direction: column;
    width: 0;
    align-items: center;
    }
  
    input[type='range'] {
      margin: 50px 20px;
      transform: rotate(270deg);
      -moz-transform: rotate(270deg);
    }

  .fill {
    flex-direction: column;
    width: 0;
    align-items: center;
  }
}

@media only screen and (min-width : 100px) and (max-width : 480px) {
  .toolbar {
    flex-flow: row nowrap;
    -webkit-flex-direction: column;
    padding: 8px;
    top: 0;
    right: 0;
    left: 0; 
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 104, 190, 0.5);
    position: fixed;
  }
  .size {
    display: none;
  }

  .circle-picker {
    flex-direction: row;
    align-items: center;
    }

  .fill {
    flex-direction: column;
    width: 0;
    align-items: center;
  }
  .size {
    display: none;
  }

  .save {
    display: none;
  }

  .line {
    display: none;
  }
  
  .clear {
    display: none;

  }
  
}

@media only screen and (min-device-width: 480px) 
and (max-device-width: 640px) 
and (orientation: landscape) {
  .toolbar {
    flex-flow: row nowrap;
    -webkit-flex-direction: column;
    padding: 8px;
    top: 0;
    right: 0;
    left: 0; 
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 104, 190, 0.5);
    position: fixed;
  }

  .circle-picker {
    flex-direction: row;
    align-items: center;
    }

  .save {
    display: none;
  }

  .line {
    display: none;
  }
 
  .clear {
    display: none;

  }

  .fill {
    flex-direction: row;
    align-items: center;
  }

}