    /*
    Flaticon icon font: Flaticon
    Creation date: 15/09/2017 00:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-symbol-1:before { content: "\f100"; }
.flaticon-remove:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-shape:before { content: "\f103"; }
.flaticon-symbols-1:before { content: "\f104"; }
.flaticon-sign:before { content: "\f105"; }
.flaticon-symbol:before { content: "\f106"; }
.flaticon-symbols:before { content: "\f107"; }
.flaticon-two:before { content: "\f108"; }
.flaticon-square:before { content: "\f109"; }
.flaticon-circle:before { content: "\f10a"; }
.flaticon-paint:before { content: "\f10b"; }
.flaticon-tool:before { content: "\f10c"; }
.flaticon-picture-hanging-in-a-frame-hand-drawn-symbol:before { content: "\f10d"; }
.flaticon-twitter-hand-drawn-logo:before { content: "\f10e"; }
.flaticon-instagram-hand-drawn-logo:before { content: "\f10f"; }
.flaticon-facebook-letter-logo-in-a-square-hand-drawn-outline:before { content: "\f110"; }
.flaticon-video:before { content: "\f111"; }
    
    $font-Flaticon-symbol-1: "\f100";
    $font-Flaticon-remove: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-shape: "\f103";
    $font-Flaticon-symbols-1: "\f104";
    $font-Flaticon-sign: "\f105";
    $font-Flaticon-symbol: "\f106";
    $font-Flaticon-symbols: "\f107";
    $font-Flaticon-two: "\f108";
    $font-Flaticon-square: "\f109";
    $font-Flaticon-circle: "\f10a";
    $font-Flaticon-paint: "\f10b";
    $font-Flaticon-tool: "\f10c";
    $font-Flaticon-picture-hanging-in-a-frame-hand-drawn-symbol: "\f10d";
    $font-Flaticon-twitter-hand-drawn-logo: "\f10e";
    $font-Flaticon-instagram-hand-drawn-logo: "\f10f";
    $font-Flaticon-facebook-letter-logo-in-a-square-hand-drawn-outline: "\f110";
    $font-Flaticon-video: "\f111";