@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC');

body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 62.5%;
  width: 100%;
}
 h1 {
  margin: 28px 28px;
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  line-height: 30px;
 }

.logo {
  height: 38px;
  margin: 0 12px;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(20deg)
}

.checkbox {
  margin-left: 20px;
  transform: scale(2.0);
	padding: 30px;
  background: #fff;
  border: 2px solid black;
	box-shadow: none;
}

.canvas-div {
  margin: 0 30px 0 80px;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
position: absolute;
width: 36px;
height: 30px;
left: 36px;
top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #E62739;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
background: #6ED3CF;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
font-family: 'Patrick Hand SC', cursive;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #373a47;
}

.bm-overlay {
  background-color: transparent !important;
}

/* Wrapper for item list */
.bm-item-list {
color: #5B5A56;
padding: 0.8em;
font-size: 2rem;
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

.toolbar {
  font-size: 3.5em;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.0em;
  font-family: 'Patrick Hand SC', cursive;
}

button.item-active{
  color: #9068BE;
}
