@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC');


@media screen and (min-width: 480px) {
  button.item {
      font-size: 40px;
  }
  button.item-active {
    font-size: 40px;
}
}
@media screen and (max-width: 480px) {
  button.item {
      font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 62.5%;
  color: #5B5A56;
}

button.item {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Patrick Hand', cursive;
  color: #5B5A56;
}

button.item-active {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #9068BE;
  font-family: 'Patrick Hand', cursive;
}

div.outer-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

 h1.brand {
  margin: 30px 150px;
  font-family: 'Patrick Hand', cursive;
  font-size: 4em;
  line-height: 30px;
  color: #000000;
  display: flex;
 }

.canvas-div {
  margin: 0 30px 0 80px;
  display: flex;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
position: absolute;
width: 36px;
height: 30px;
left: 36px;
top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #E62739;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
background: #6ED3CF;
padding: 1.0em 0.5em 0;
font-size: 2em;
font-family: 'Patrick Hand SC', cursive;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #373a47;
}

.bm-overlay {
  background-color: transparent !important;
}

/* Wrapper for item list */
.bm-item-list {
color: #5B5A56;
padding: 0.5em;
font-size: 2rem;
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

.circle-picker {
  margin-top: 10px;
}

div.toolbar {
  float: left;
  width: 15%;
  padding: 4px;
  font-size: 3.5em;
  margin-left: 3%;
}

div.canvas-div {
  width: 75%;
  height: 1200px;
  float: left;
  margin: 0 30px 0 30px;
}
canvas.canvas {
  width: 100%;
}

input.checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #5B5A56;
  padding: 9px;
  transform: scale(1.5);
  margin-left: 5%;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}